@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  user-select: none;
  overflow: hidden;
  position: fixed;
  width: 100%;
  font-family: Ubuntu, 'PingFang SC', 'Source Han Sans SC', 'Microsoft YaHei', 'Helvetica Neue', Helvetica,
    Arial, sans-serif !important;
}

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

@font-face {
  font-family: 'Source Han Sans SC';
  src: url('./SourceHanSansSC-Regular.woff2');
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./Ubuntu-R.ttf');
}
